<header th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml">

    <!-- Static navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">

        <a class="navbar-brand" th:href="@{/home}">
            <img src="https://media.discordapp.net/attachments/714699059142590555/781032477019340860/logo2.png?width=671&height=671" width = "50" height="50">
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/home}">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/about}">About</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/music}">Music</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/contact}">Contact</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/customer}">Sign up</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/login}">Sign in</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
